header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 15px;
}

ul li a:hover {
    color: #fff;
    border-bottom: 3px solid #FFBF00;
    padding-bottom: 10px;
}

header a {
    color: #FFBF00;
    text-decoration: none;
}

#caio:hover {
    color: #fff;
}